.mainContainer {
  background-image: url(https://cdn.builder.io/api/v1/image/assets/TEMP/75f2856dc2e557fc74f8e88f86c72af26e46d5f6);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family:
    Zen Dots,
    cursive;
  position: relative;
}

.header {
  background: radial-gradient(50% 50%, #2c46898a 43.27%, #2136638a 100%);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 162px;
  padding: 0 20px;
  display: flex;
}

.logoContainer {
  align-items: center;
  gap: 20px;
  display: flex;
}

.logoIcon {
  border-radius: 90px;
  width: 126px;
  height: 128px;
}

.logoText {
  color: #fff;
  font-size: 48px;
}

.navigation {
  gap: 40px;
  margin-left: 40px;
  margin-right: auto;
  display: flex;
}

.navButton {
  color: #fff;
  cursor: pointer;
  font-size: 48px;
  background: none;
  border: none;
  font-family: inherit;
}

.loginSection {
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  display: flex;
}

.loginTitle {
  color: #fff;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-weight: 900;
}

.loginForm {
  background-color: #3a3a3a;
  border-radius: 50px;
  flex-direction: column;
  gap: 20px;
  width: 490px;
  padding: 32px;
  display: flex;
}

.inputLabel {
  color: #fff;
  margin-bottom: 10px;
  font-size: 24px;
}

.inputField {
  background-color: #606060;
  border-radius: 50px;
  width: 100%;
  height: 73px;
  border: none;
}

.submitButton {
  color: #fff;
  cursor: pointer;
  background-color: #007aff66;
  border-radius: 40px;
  width: 326px;
  height: 89px;
  margin: 40px auto 0;
  font-size: 24px;
  border: none;
  font-family: inherit;
}

@media (max-width: 991px) {
  .logoText {
    font-size: 36px;
  }

  .navigation {
    gap: 20px;
    font-size: 36px;
  }

  .loginTitle {
    font-size: 72px;
  }
}

@media (max-width: 640px) {
  .header {
    height: 80px;
  }

  .logoIcon {
    width: 60px;
    height: 60px;
  }

  .logoText {
    font-size: 24px;
  }

  .navigation {
    display: none;
  }

  .loginTitle {
    font-size: 48px;
  }

  .loginForm {
    width: 90%;
    max-width: 490px;
    padding: 20px;
  }

  .inputLabel {
    font-size: 18px;
  }

  .inputField {
    height: 50px;
  }

  .submitButton {
    width: 100%;
    height: 60px;
    font-size: 18px;
  }
}
